<!--status.html-->
{{template "header.html" .}}
{{template "modmenu.html"}}
<table>
    {{range $i, $user := .UserNames}}
{{$check := index $.Checks $i}}
    {{$configfile := index $.Configlist 0 }}
    {{$configdev  := index $.Configlist 1 }}
<tr>
    <td>
        <textarea name="configfile">{{$configfile}}</textarea>
    </td>
    <td>
        <textarea name="configdev">{{$configdev}}</textarea>
    </td>
</tr>
</table>
<button type="submit" name="action" value="Update">Save config to disk</button>
<button type="submit" name="action" value="Save">Save As config to disk</button>
<button type="submit" name="action" value="Retrieve">Retrieve config from device</button>
<button type="submit" name="action" value="Scan">Build config from scan</button>