<!--status.html-->
{{template "header.html" .}}
{{template "modmenu.html" .}}
<table>
    <tr>
        <td class="fifty"> 
            <textarea name="configfile">{{index .payload.Configlist 0}}</textarea>
        </td>
        <td class="fifty">
            <textarea name="configdev">{{index .payload.Configlist 1}}</textarea>
        </td>
    </tr>
</table>
<button type="submit" name="action" value="Update">Save config to disk</button>
<button type="submit" name="action" value="Save">Save As config to disk</button>
<button type="submit" name="action" value="Retrieve">Retrieve config from device</button>
<button type="submit" name="action" value="Scan">Build config from scan</button>
</form>
{{template "footer.html" .}}