<!--modules.html-->
{{template "header.html" .}}
{{template "modmenu.html" .}}
<table>
    <tr>
        <th>Configuration on disk</th>
        <th>Actual configuration (on the device)</th>
    </tr>
    <tr>
        <td class="fifty"> 
            <textarea name="configfile">{{index .payload.Configlist 0}}</textarea>
        </td>
        <td class="fifty">
            <textarea name="configdev">{{index .payload.Configlist 1}}</textarea>
        </td>
    </tr>
</table>
<button type="submit" name="action" value="Update">Save config to disk</button>
<button type="submit" name="action" value="Upload">Upload saved config to device</button>
<button type="submit" name="action" value="Retrieve">Retrieve config from device</button>
<button type="submit" name="action" value="Scan">Build config from scan</button><br>
<button type="submit" name="action" value="Reboot">Redémarrage du module</button>
<button type="submit" name="action" value="Refresh">Lire info du module</button>
<button type="submit" name="action" value="Register">Enregistrement dans Home Assistant</button>
<button type="submit" name="action" value="Inventaire">inventaire des modules</button>
</form>
{{template "footer.html" .}}